@import '../../../../vendor/filament/filament/resources/css/theme.css';
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.send-campaign-modal .fi-modal-description {
    white-space: pre-line;
}
